services:
  api:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    command: ["api"]
    ports:
      - ${PORT}:${PORT}
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@db:${DB_PORT}/${DB_NAME}
      - REDIS_URL=redis://redis:${REDIS_PORT}/${REDIS_DB}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=db
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB}
    depends_on:
      - db
      - redis
    networks:
      - backend

  fake_api:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    command: ["fake_api"]
    ports:
      - "8001:8001"
    environment:
      - FAKE_API_PORT=8001
    depends_on:
      - db
      - redis
    networks:
      - backend

  worker:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    command: ["worker"]
    environment:
      - REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
      - QUEUE_NAME=${FAVORITE_QUEUE}
    depends_on:
      - redis
    networks:
      - backend

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
    driver: local
